body{
	margin:auto;
	padding:0;
	background-image:url("C:/Users/DELL/Downloads/aqi.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
	
	
}
header{
    background: #1a1819;
    height: 66px;
    
}

header *{
    color: white;
}

header .logo{
    float: left;
    margin-left: 1em;  
      
}



header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header .menu-toggle{
    display: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display:block;
    padding :21px;
    font-size: 1.1rem;
    text-decoration: none;
}

header ul li a.logout:hover{
    color: red;
}

header ul li a:hover{
    background: rgb(7, 178, 190);
    color: rgb(2, 32, 34);
    transition: 0.3s;
}

@media only screen and (max-width:750px){
    
    
    
    header ul{
        width:100%;
        background: #ffbac8;
        
        
    }
    header ul li{
        width: 100%;
    }

    header .menu-toggle{
        display: block;
        position:absolute;
        right: 20px;
        top:20px;
        font-size: 1.9rem;
    }

    header .logo{
        margin-left: .8em;
    }

    header .logo-text{
        font-size: .9em;
    }
}
.amaze,.wow{
    color:aqua;
}
.aqi {
    width: 600px;
    height: 400px;
    color: rgb(241, 228, 228);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 44px;
    background-color: rgb(35 26 21 / 85%);
}